/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: white;
	background-color: black;
	overflow-x: hidden;
}

ul, nav{
	list-style: none;
	text-transform: uppercase;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	/* opacity: 0.9; */
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 100%;
	height: 5px;
	background-color: white;
	border: 0;
	/* margin-bottom: 80px; */
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	/* padding: 100px 100px; */
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

@media (max-width: 1000px){
	.hero-container {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

section h3.title{
	text-transform: uppercase; 
}

section p{
	max-width: 800px;
	text-align: left;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h2 {
	font-family: 'Gotham' !important;
	font-weight: 800;
}

h1 {
	font-family: 'Gotham' !important;
	font-weight: 800;
}

h3 {
	font-family: 'Gotham' !important;
	font-weight: 800;
}

/*-------------
 	Header
-------------*/

header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 15px 90px;
	background-color: black;

}

header h2{
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 1rem;
	font-size: 0.85rem;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}

header nav a {
	transition: color 0.1s ease-out;
}

header nav a:hover {
	color: #4FC8ED;
	/* text-decoration: underline; */
	border-bottom: 4px solid #4FC8ED;
	padding-bottom: 0.7em;
	transition: transform 2000;
}

.company-logo {
	width: 150px;
}

@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}



/*----------------
 	Hero Section
----------------*/

.hero-container img {
	width: 80%;
}

@media (max-width: 1000px){
	.hero-container img{
		width: 100%;
	}
}

.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.hero h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.hero h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.hero a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}

	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

}

.home-title {
	padding-top: 11rem;
	padding-bottom: 3rem;
	overflow: hidden;
	padding-left: 1em;
	padding-right: 1em;
}

.home-title h2 {
	font-size: 100px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-transform: uppercase;
}

.title-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	/* min-width: 3000px;
	margin-left: -55%; */
	z-index: 10;
	/* top: 60%; */
	left: 10%;
}

.title-container h2 {
	text-shadow: 2px 2px black;
}


#bg-video-home {
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	font-size: 0;
	background-color: #000000;
}

#bg-video-home video {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/* min-height: 100vh; */
	height: 100vh;
	/* width: 100vw; */
	/* min-width: 100%; */
	max-width: none;
	}
#bg-video video.hidden-xs {
	display: block;
}

.arrow-container-home {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999;
	position: absolute;
	bottom: 15px;
	width: 100px;
	height: 200px;
  }
  
  .chevron {
	position: absolute;
	width: 35px;
	height: 8px;
	opacity: 0;
	transform: scale(0.3);
	animation: move-chevron 3s ease-out infinite;
	color: white;
  }

  .home-image {
	  display: none;
  }

@media (min-width: 1000px){
	.title-container hr {
		visibility: hidden;
	}
}

@media (max-width: 850px){
	.title-container {
		min-width: 100%;
	}
}

@media (max-width: 850px){
	.hero-container {
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

.title-container h2 {
	width: 100%;
}

.title-container hr {
	margin-top: 2.3em;
	margin-right: 2em;
}

.about-title-left {
	width: 100%;
	min-width: 65%;
}
.about-title-top hr {
	margin-left: 33em;
	margin-top: 1em;
	width: 100%;
}

.about-title-right {
	margin-top: -10.5em;
}

.about-event-right {
	/* margin-left: -15em; */
	width: 50%;
	margin-top: 4em;
	margin-left: 20em;
	/* padding-top: 4.5em; */
	/* margin-top: -9em;
	margin-left: 18em; */
}

.about-event {
	display: flex;
	/* flex-direction: row; */
	padding-top: 5rem;
	margin-top: 55em;
	/* padding-bottom: 5rem; */
	/* width: 70%; */
	overflow: hidden;
	margin-bottom: 10em;
}

.about-container {
	display: flex;
	flex-direction: row;
	width: 80%;
}

.about-event h3 {
	color: white;
	font-family: 'Gotham';
	font-size: 80px;
	text-transform: uppercase;
}

.about-title-top {
	display: flex;
	width: 80%;
	flex-direction: column;
}

.about-event p {
	font-size: 18px;
}

.about-event-left {
	width: 45%;
}

.desktop {
	z-index: 50;
}

.responsive {
	display: none;
}


@media (max-width: 1000px){
	.about-event-right {
		padding: 0px;
		margin: 0px;
		width: 100%;
		/* padding-top: 3em; */
	}
	.title-container {
		position: relative;
		left: 0;
		z-index: 1;
	}
	.about-title-top hr {
		margin-top: -3em;
		margin-left: 19em;
	}
	.about-title-right {
		margin-top: 5em;
	}
	.about-title-right p {
		padding-top: 5em;
	}
	.about-title-top hr {
		margin-top: -8em;
	}
	.about-event {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	#bg-video-home {
		display: none;
	}
	.arrow-container-home {
		display: none;
	}
	.home-image {
		display: block;
		margin-top: 3em;
	}
	.home-image img {
		width: 100vw;
	}
}

@media (max-width: 1000px){
	.about-title-top {
		flex-direction: column;
	}
}

@media (max-width: 800px){
	.about-event {
		padding: 0px;
	}
	.about-title-top {
		width: 100% !important;
	}
	.about-title-left {
		padding: 2em;
	}
	.about-title-right {
		margin-top: 0px;
	}
	.about-event-right {
		width: 100%;
		/* margin-top: -15%; */
		padding: 1em;
	}
	.about-title-top hr {
		margin-top: -5em;
		margin-left: 21em;
		/* margin-left: -19em; */
	}
}

@media (max-width: 800px){
	.about-title-top {
		width: 100%;
	}
}

@media (max-width: 500px){
	.title-container h2 {
		font-size: 35px;
	}
	.home-title {
		padding-top: 8rem;
		padding-bottom: 2rem;
	}
	.about-event {
		padding-top: 0px;
	}
	.about-event h3 {
		font-size: 35px !important;
	}
	.about-event-right {
		padding: 0px;
		margin-top: -2.5em;
	}
	.about-title-left {
		padding: 1em;
		margin-top: 2em;
	}
	.about-title-right hr{
		margin-top: -2.5em;
		margin-left: 10em;
	}
	.desktop {
		display: none;
	}
	.responsive {
		display: flex;
		flex-direction: row;
	}
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 1.5rem;
	}
	.bar {
		display: block;
		width: 25px;
		height: 3px;
		margin: 5px auto;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background-color: white;
	}
	.hamburger-link:hover {
		border: none;
		padding: 0px;
	}
	.nav-item {
		margin-left: 5rem;
	}
	.nav-link{
		font-size: 1.6rem;
		font-weight: 400;
		color: white;
		border: none;
	}
	
	.nav-link:hover{
		color: #4FC8ED;
		border: none;
	}
	.nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: black;
        width: 100%;
        border-radius: 10px;
        text-align: left;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
		padding-left: 1em;
    }
	.nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
	.icon:hover {
		border: none;
		padding: 0px;
	}
	.icon.active .bar:nth-child(2){
		opacity: 0;
	}
	.icon.active .bar:nth-child(1){
		transform: translateY(8px) rotate(-45deg);
	}
	.icon.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(45deg);
	}
}

.image-container {
	display: flex;
	padding: 5rem;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.team-link, .projects-link, .documents-link {
	position: absolute;
	/* height: 100%; */
	width: 100%;
	text-align: center;
	vertical-align: middle;
	top: 50%;
}

.team-link h1 {
	font-size: 70px;
	/* top: 40%; */
}

.projects-link h1 {
	font-size: 70px;
	/* top: 45%; */
	left: 4%;
}

.documents-link h1 {
	font-size: 70px;
	/* top: 40%; */
}


.image-container img {
	display: block;
	max-width: 100%;
	height: auto;
}

.first-image {
	margin-right: 20%;
	display: inline-block;
	position: relative;
}

.first-image::before {
	position: absolute;
	top: -8%;
	left: -8%;
	width: 100%;
	height: 100%;
	border: 4px solid white;
	content: '';
	z-index: -10;
}

@media (max-width: 800px){
	.first-image::before {
		top: -3%;
		left: -2%;
		border: 7px solid white;
		width: 90%;
		height: 90%;
	}
}

@media (max-width: 800px){
	.first-image {
		padding-left: 2em;
	}
}

.second-image {
	margin-left: 25%;
	margin-top: -10%;
	z-index: 1;
	display: inline-block;
	position: relative;
}

.second-image::before {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 100%;
	height: 100%;
	border: 4px solid white;
	content: '';
}

@media (max-width: 800px){
	.second-image {
		padding-right: 2em;
	}
}

@media (max-width: 800px){
	.second-image::before {
		top: 20%;
		left: 10%;
		border: 7px solid white;
		width: 90%;
		height: 80%;
	}
}

.third-image {
	margin-top: -5%;
	margin-right: 25%;
	display: inline-block;
	position: relative;
}

.third-image::before {
	position: absolute;
	top: 10%;
	left: -10%;
	width: 100%;
	height: 100%;
	border: 4px solid white;
	content: '';
	z-index: -10;
}

@media (max-width: 800px){
	.third-image {
		padding-left: 2em;
		margin: 0px;
		padding-top: 2em;
		padding-bottom: 2em;
		margin-top: 3em;
	}
}

@media (max-width: 800px){
	.third-image::before {
		top: 9%;
		left: -2%;
		border: 7px solid white;
		width: 90%;
		height: 90%;
	}
}

@media (max-width: 800px){
	.first-image,
	.second-image {
		margin: 0px;
		padding-top: 2em;
		padding-bottom: 2em;
	}
}

@media (max-width: 800px){
	.image-container{
		padding: 2rem;
	}
}

@media (max-width: 800px){
	.image-container div{
		/* min-width: 100%; */
	}
}

@media (max-width: 800px){
	.about-container{
		flex-direction: column;
	}
}

@media (max-width: 800px){
	.about-container p{
		padding: 0px;
	}
}

@media (max-width: 800px){
	.first-image,
	.second-image,
	.third-image,
	.image-container img
	{
		width: 100%;
		/* padding: 1%; */
	}
}


/* .image-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
	margin-bottom: 8em;
  }

.image-stack__item--top {
padding-left: 5em;
grid-column: 1 / span 8;
grid-row: 1;
/* padding-top: 20%; */
/* z-index: 1; 
}

.image-stack__item--second {
grid-column: 4 / -1;
grid-row: 2;
padding-left: 10em;
margin-bottom: 4em;
z-index: 1;
margin-top: -8em;
}

.image-stack__item--bottom {
grid-column: 4 / -1;
grid-row: 3;
margin-top: -8em;
margin-right: 10em;
}
	
@media (max-width: 1000px){
	.image-stack__item--top,
	.image-stack__item--second,
	.image-stack__item--bottom{
		margin: 0px;
	}

} */



/*--------------------
 	Our Work Section
---------------------*/
.projects-section {
	padding-top: 11rem;
	padding-bottom: 3rem;
	margin-left: 5em;
	overflow: hidden;
	align-items: flex-start;
}

@media screen and (min-width: 1200px){
	.middle {
		flex-basis: 45%;
		/* display: none; */
	}
}



.projects-section h2 {
	font-size: 100px;
	/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
	text-transform: uppercase;
}

.projects-title {
	width: 100%;
	/* min-width: 65%; */
}

.projects-title-text {
	padding-left: 11em;
	margin-top: -6.5em;
	width: 60%;
}

.оur-work{
	background-color: #fff;
}

.our-work .grid li{
	/* padding: 20px; */
	margin: 1em;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.our-work .grid li.small{
	flex-basis: 35%;
}

.our-work .grid li.large{
	flex-basis: 55%;
}

.our-work .grid li.x-small{
	flex-basis: 15%;
}

.our-work .grid li.x-large{
	flex-basis: 75%;
}

.our-work .grid li.half{
	/* flex-basis: 50%; */
}

/* first versions have been commented out--those styles look closer to the design, but also have annoying effects on positioning. Currently experimenting with alternatives */

/* .our-work .grid .top-right {
	height: 35em;
	/* padding-right: 5em;
} */

.our-work .grid .top-right {
	height: 35em;
	outline: solid 0px hotpink;
	transition: outline 0.5s linear;
	/* padding-right: 5em; */
}


/* .our-work .grid .top-right:hover {
	padding: 5px;
	border-top: 15px solid hotpink;
	border-right: 15px solid hotpink;
} */

.our-work .grid .top-right:hover {
	outline-width: 15px;
}

/* .our-work .grid .middle {
	margin-left: 10em;
	/* padding-left: 5em; */
	/* padding-right: 10em;
} */

.our-work .grid .middle {
	margin-left: 10em;
	outline: solid 0px brown;
	transition: outline 0.5s linear;
	/* padding-left: 5em; */
	/* padding-right: 10em; */
}

/* .our-work .grid .middle:hover {
	padding: 5px;
	border-bottom: 15px solid brown;
	border-right: 15px solid brown;
} */

.our-work .grid .middle:hover {
	outline-width: 15px;
}

/* .our-work .grid .top-left {
	margin-top: 13em;
	/* padding-left: 3em;
} */

.our-work .grid .top-left {
	margin-top: 13em;
	outline: solid 0px lightblue;
	transition: outline 0.5s linear;
	/* padding-left: 3em; */
}

/* .our-work .grid .top-left:hover {
	padding: 5px;
	border-top: 15px solid lightblue;
	border-left: 15px solid lightblue;
} */

.our-work .grid .top-left:hover {
	outline-width: 15px;
}

/* .our-work .grid .bottom-left {
	height: 40em;
	/* padding-right: 8em; */
	/* padding-left: 5em; 
} */

.our-work .grid .bottom-left {
	height: 40em;
	outline: solid 0px rgb(142, 238, 185);
	transition: outline 0.5s linear;
	/* padding-right: 8em; */
	/* padding-left: 5em; */
}

/* .our-work .grid .bottom-left:hover {
	padding: 5px;
	border-top: 15px solid rgb(142, 238, 185);
	border-left: 15px solid rgb(142, 238, 185);
} */

.our-work .grid .bottom-left:hover {
	outline-width: 15px;
}

/* .our-work .grid .bottom-right {
	margin-top: 7em;
} */

.our-work .grid .bottom-right {
	margin-top: 7em;
	outline: solid 0px burlywood;
	transition: outline 0.5s linear;
}

/* .our-work .grid .bottom-right:hover {
	padding: 5px;
	border-top: 15px solid burlywood;
	border-right: 15px solid burlywood;
} */

.our-work .grid .bottom-right:hover {
outline-width: 15px;
}


.our-work .grid li {
	font-weight: bolder;
}

.our-work .grid .project h2 {
	font-weight: bolder;
}

.our-work .grid .project-1-text {
	font-size: 1.5em;
	margin-top: 1.5em;
	margin-left: 1.5em;
	/* visibility: hidden; */
	opacity: 0;
	transition: opacity 1s;
}

.our-work .grid .project-2-text {
	font-size: 1.5em;
	margin-top: 1.5em;
	margin-right: 1.5em;
	text-align: right;
	/* visibility: hidden; */
	opacity: 0;
	transition: opacity 1s;
}

.our-work .grid .project-3-text {
	font-size: 1.5em;
	margin-top: 9em;
	margin-right: 1.5em;
	text-align: right;
	/* visibility: hidden; */
	opacity: 0;
	transition: opacity 1s;
}

.our-work .grid li:hover .project-1-text {
	/* visibility: visible; */
	opacity: 1;
}

.our-work .grid li:hover .project-2-text {
	/* visibility: visible; */
	opacity: 1;
}

.our-work .grid li:hover .project-3-text {
	/* visibility: visible;*/
	opacity: 1;

}


@media (max-width: 1000px){
	.our-work {
		padding-top: 0px;
	}
	.our-work .grid li.small,
	.our-work .grid li.large{
		flex-basis: 100%;
	}
	.our-work .grid .half {
		margin-left: 1em;
		margin-right: 1em;
	}
	.our-work .grid .half {
		margin-left: 1em;
		margin-right: 1em;
	}
	.our-work .grid .bottom-right {
		padding-top: 0px;
		margin-top: 1em;
	}
	.projects-title-text {
		width: 85%;
	}
	.our-work .grid .top-left {
		margin-top: 0px;;
	}
	.our-work .grid .top-right {
		height: 350px;;
	}
	.our-work .grid .bottom-left {
		height: 350px;;
	}
	.our-work .grid .top-right {
		height: 350px;;
	}
	.our-work .grid .middle {
		flex-basis: 100%;
	}
	.our-work .grid .project {
		visibility: visible;
	}
	.our-work .grid .project {
		opacity: 1;
	}
	
}

@media (max-width: 700px){
	.projects-title h2 {
		font-size: 40px;
	}
	.projects-section {
		margin-left: 0px;
	}
	.projects-title-text {
		margin-top: 0px;
		margin-left: 0px;
		padding-left: 0px;
		width: 100%;
		margin-bottom: 0px;
	}
	.projects-title-text p {
		margin-bottom: 0px;
		padding: 0px;
		padding-top: 2em;
	}
}

/*------------- 
Single Project section 
-------------*/

.single-project-title-section {
	padding-top: 11rem;
	padding-bottom: 3rem;
	margin-left: 5em;
	overflow: hidden;
	/* align-items: flex-start; */
	flex-direction: row;
	/* width: 85%; */
	padding-right: 2em;
}

.single-project-title-section h2 {
	font-size: 80px;
	/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
	text-transform: uppercase;
}

.project-hero-image {
	width: 70%;
	height: 30em;
}

.single-project-title {
	background-color: #4FC8ED;
	padding: 2em;
	line-height: 1;
	margin-left: -25%;
}

.single-project-description {
	align-items: flex-start;
	margin-left: 5rem;
	width: 50%;
}

.single-project-description p {
	padding: 0px;
}

.project-additional-info-container {
	display: flex;
	margin-top: 1em;
	width: 100%;
	justify-content: space-between;
}

.project-additional-info-container h4 {
	text-transform: uppercase;
	padding-bottom: 1em;
}

.project-additional-info-container p {
	margin-bottom: 0px;
}

.project-additional-info-1 {
	/* margin-right: 2em; */
}

.project-additional-info-2 {
	/* margin-left: 2em; */
}

.single-project-grid-container {
	margin-top: 2em;
}

.our-work .grid .single-project-image-1 {
	height: 20em;
}

.our-work .grid .single-project-image-2 {
	height: 40em;
}

.description-text h4 {
	padding-bottom: 10px;
	font-size: 1.5em;
	text-transform: uppercase;

}

.single-project-middle-blurb {
	padding: 50px 50px;
	padding-bottom: 0px;
	align-items: flex-end;
	padding-left: 20em;
}

.single-project-middle-blurb h4 {
	padding: 10px 20px;
	font-size: 1.5em;
	text-transform: uppercase;

}



.project-testimonials {
	padding: 50px 50px;
	align-items: flex-end;
	padding-right: 40em;
}

.project-testimonials p {
	font-style: italic;
}

.blurb-container {
	display: flex;
	flex-direction: column;
}

.fa-quote-left {
	/* margin-top: -1em; */
}

.fa-quote-right {
	/* margin-top: 20%;
	margin-right: 1em; */
}

@media (max-width: 1000px){
	.single-project-title-section {
		/* flex-direction: row-reverse; */
		padding-right: 50px;
		padding-top: 100px;
		margin-left: 0px;
	}
	.project-hero-image {
		width: 100%;
	}
	.single-project-title {
		margin-left: -28em;
		margin-top: 25em;
	}
	.single-project-description {
		margin-left: 0px;
		width: 100%;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.description-text p {
		margin-bottom: 0px;
		padding-bottom: 1em;
	}
	.single-project-grid-container {
		padding-bottom: 1em;
	}
	.single-project-middle-blurb {
		padding-left: 3em;
		padding-right: 3em;;
	}
	.blurb-container {
		justify-content: center;
	}
	.blurb-container p {
		max-width: 100%;
		/* padding-right: 50px;
		padding-left: 50px; */
		padding-bottom: 1em;
		margin-bottom: 0px;
	}
	.project-testimonials {
		padding-right: 3em;
		padding-left: 3em;
		padding-top: 0;
	}
	.our-work .grid .single-project-image-2 {
		height: 20em;
	}
}

@media (max-width: 600px){
	.single-project-title-section {
		padding-right: 1em;
		padding-left: 1em;
		padding-bottom: 1.5em;
	}
	.single-project-title-section h2 {
		font-size: 40px;
	}
	.single-project-title-section img {
		height: 20em;
	}
	.single-project-title {
		margin-left: -15em;
		margin-top: 20em;
	}
	.single-project-description {
		padding-right: 1em;
		padding-left: 1em;
	}
	.dot-pattern-single-project-first {
		visibility: hidden;
	}
	.single-project-grid-container {
		padding: 0em;
		margin-top: 0em;
	}
	.single-project-middle-blurb {
		padding: 0em;
		padding-top: 1em;
	} 
	.project-testimonials {
		padding-top: 3em;
	}
}

/*------------- 
Team section 
-------------*/

.team-section {
	padding-top: 11rem;
	padding-bottom: 3rem;
	margin-left: 5em;
	overflow: hidden;
	align-items: flex-start;
}

.team-section h2 {
	font-size: 90px;
	/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
	text-transform: uppercase;
}

.team-title {
	line-height: 1;
}

.team-title-text {
	margin-left: 31em;
	margin-top: -5em;
	/* width: 50%; */
	padding-right: 3em;
}

.team-container {
	margin-bottom: 5em;
}

.filter-list {
	width: 75%;
}

.filter-list .links{
	display: flex;
	justify-content: space-around;
}

.filter-list .links a {
	transition: color 0.1s ease-out;
}

.filter-list .links a:hover {
	color: #4FC8ED;
	/* text-decoration: underline; */
	/* border-bottom: 4px solid #4FC8ED;
	padding-bottom: 0.7em; */
	transition: transform 2000;
}

.filter-active {
	border-bottom: 4px solid #4FC8ED;
	padding-bottom: 0.7em;
}

/* .filter-inactive {
	border-bottom: 0px;
	padding-bottom: 0px;
} */

.avatars-container {
	margin-top: 5em;
	width: 80%;
}

.avatars {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
	grid-gap: 100px;
	list-style-type: none;
	padding-left: 0;
}

.card {
    position: relative;
    /* border: 1px solid #ccc; */
    text-align: center;
    /* overflow: hidden; */
    background: black;
}

.card img {
	display: block;
	max-width: 100%;
	object-fit: cover;
	width: 100%;
	/* height: 50px; */
	border-radius: 50%;
  }

.card .additional-info {
	margin-top: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card .additional-info h4 {
	text-transform: uppercase;
	font-size: 25px;
	font-family: 'Gotham';
}

.card .additional-info h5 {
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Gotham';
}

.card h5 {
	padding: 0.5em;
}

.card .bio-button {
	visibility: hidden;
	transition: background-color 0.5s;
}


.bio-button:hover {
	background-color: #4FC8ED;
	cursor: pointer;
	/* color: black; */
}

.card h5 {
	color: #4FC8ED;
}

.filter-list-mobile {
	visibility: hidden;
}

.card-image:hover .opaque-image {
	visibility: hidden;
}

.card-image:hover .transparent-image {
	cursor: pointer;
}

.card-image:hover .transparent-image {
	visibility: visible;
	background-color: #4FC8ED;
}

.overlay {
	/* display: flex; */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	opacity: 0;
	/* transition: visibility 1.5s ease; */
	/* background-color: #4FC8ED; */
	border-radius: 50%;
}

.overlay-text {
	position: absolute;
	top: 30%;
	left: 31%;
	font-size: 1.5em;
}

.overlay-text:hover {
	cursor: pointer;
}


.card .card-image:hover .overlay {
	opacity: 0.7;
}

.card a:hover .overlay {
	/* opacity: 0.5; */
}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	/* background-color: rgb(0,0,0);  Fallback color */
  }
  
  /* Modal Content/Box */
.modal-content {
	display: flex;
	background-color: black;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 50px;
	border: 1px solid white;
	width: 80%; /* Could be more or less, depending on screen size */
}
  
.modal-container {
	display: flex;
}

.obscure {
	opacity: 0.3;
}

.modal-left {
	width: 40%;
}

.modal-left .modal-name {
	padding: 0px;
}

.modal-left p {
	text-align: center;
	margin-bottom: 0px;
	text-transform: uppercase;
}

.modal-left .modal-name {
	/* margin-top: 1.5em; */
}

.modal-left .modal-title {
	margin-bottom: 0.5em;
	color: #4FC8ED;
}

.modal-left .modal-name {
	font-family: 'Gotham Black';
	font-size: 40px;
	line-height: 1;
	padding-top: 0.5em;
	padding-bottom: 0px;
}

.modal-left .modal-title {
	/* font-family: 'Din Bold'; */
	font-size: 24px;
	line-height: 1;
}

.modal-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 2em;
	text-transform: none;
	align-items: flex-start;
	width: 75%;
}

.modal-right p {
	margin-bottom: 0px;
	padding: 0.7em;
	line-height: 1.5em;
	padding-left: 0px;;
}

.portfolio-button {		
	border: 1px solid #4FC8ED;
	width: 30%;
	padding: 0.7em;
	margin-top: 1em;
	/* margin-bottom: 1em; */
	transition: background-color 0.5s;
}

.portfolio-button:hover {
	background-color: #4FC8ED;
	cursor: pointer;
	/* color: black; */
}

.social-container {
	padding: 1em;
	padding-left: 0px;
}

.social-container a {
	padding: 1em;
	padding-left: 0px;
}

.modal-left a {
	padding: 0.5em;
}

  /* The Close Button */
  .close {
	color: white;
	float: right;
	font-size: 38px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	/* color: black; */
	text-decoration: none;
	cursor: pointer;
  }

  @media (min-width: 1350px){
	  .close {
		  margin-left: 3em;
	  }
  }

  @media (max-width: 1000px){
	.team-title-text {
		margin: 0px;
	}
	.team-title-text p {
		padding: 0px;
		margin-top: 2em;
	} 
	.team-section {
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
	}
	.team-container {
		padding-top: 0px;
	}
	.filter-list {
		visibility: hidden;
	}
	.filter-list-mobile {
		visibility: visible;
		width: 80%;
	}
	.filter-list-mobile .departments option {
		line-height: 5em;
	}
	.filter-list-mobile .departments {
		width: 100%;
		background-color: black;
		color: white;
		padding: 1em;
	}
	.departments option {
		padding: 1em;
		margin: 1em;
	}
  }

  @media (max-width: 800px){
	  .team-section {
		  margin-left: 0px;
		  padding-left: 2em;
	  }
	  .team-title-text {
		  padding-right: 2em;
	  }
	  .card .bio-button {
		visibility: visible;
		border: 1px solid #4FC8ED;
		width: fit-content;
		padding: 0.7em;
	}
	.overlay {
		display: none;
	}
	.card-image:hover .opaque-image {
		visibility: visible;
	}
  }


  @media (max-width: 600px){
	.team-title h2 {
		font-size: 40px;
	}
	.card .bio-button {
		visibility: visible;
		border: 1px solid #4FC8ED;
		width: fit-content;
		padding: 0.7em;
	}
	.overlay {
		display: none;
	}
	.modal {
		margin-top: 5em;
	}
	.modal-left {
		width: 90%;
		padding-bottom: 2em;
	}
	.modal-right {
		padding-left: 0px;
	}
	.modal-content {
		flex-direction: column;
		align-items: center;
		/* margin */
	}
	.portfolio-button {
		align-self: center;
	}
	.close {
		position: absolute;
		left: 75%;
	}
  }

/*-------------
 	Documents
-------------*/

.documents-title-text {
	margin-left: 23em;
	margin-top: -6em;
}

.documents-section {
	padding-top: 11rem;
	padding-bottom: 3rem;
	padding-left: 5em;
	padding-right: 5em;
	overflow: hidden;
	align-items: flex-start;
}

.documents-section h2 {
	font-size: 100px;
	/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
	text-transform: uppercase;
}

.documents-list-section {
	padding: 100px 100px;
	padding-top: 0px;
}

.list-content {
	/* width: 75%; */
	width: 100%;
}

.document-list-item {
	/* display: flex; */
	border-top: 1px solid white;
	border-bottom: none;
}

.collapsible {
	background-color: black;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	outline: none;
	font-size: 15px;
	/* border-top: 1px solid white; */
	border-bottom: none;
	border-left: none;
	border-right: none;
  }

  .collapsible li {
	  float: left;
	  padding-right: 3em;
  }
  
  .collapsible:hover {
	background-color: #555;
  }
  
  .content {
	/* padding: 0 18px; */
	/* display: none; */
	height: 0px;
	overflow: hidden;
	background-color: black;
	color: white;
	transition: height 0.5s;
  }

  .content img {
	  /* width: 30%; */
	  padding-top: 2em;
	  padding-bottom: 2em;
  }

  .content p {
	  padding: 2em;
	  width: 80%;

  }

  .bold-field {
	  font-style: bold;
  }

.view-document-button {
	border: 1px solid #4FC8ED;
	width: fit-content;
	padding: 0.7em;
	margin-left: 2em;
	margin-top: -3em;
	text-transform: uppercase;
}

.documents-icon {
	margin-right: -95%;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.documents-bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: white;
}

.second-bar {
	transform: translateY(8px) rotate(-90deg);
	margin-top: -1.1em;

}

.documents-icon.active {
	transform: rotate(135deg);
}


@media (max-width: 950px){
	.documents-title-text {
		margin-left: 0px;
		margin-top: 2em;
		padding: 0px;
	} 
	.documents-title-text p {
		padding: 0px;
		margin-bottom: 0px;
	}
	.documents-list-section {
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 0px;
	}
}

@media (max-width: 600px){
	.documents-title h2 {
		font-size: 40px;
	}
	.documents-section {
		padding: 80px 30px;
		padding-top: 11rem;
	}
	.documents-list-section {
		padding-left: 1em;
		padding-right: 1em;
	}
	.collapsible ul {
		display: flex;
		flex-direction: column;
		/* padding-bottom: 3em; */
	}
	.collapsible .documents-icon {
		margin-top: -2em;
		padding-bottom: 2em;
	}
}


/*-------------
	Welcome
-------------*/

.welcome-modal {
	display: block;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	/* background-color: rgb(0,0,0); */
  }
  
  /* Modal Content/Box */
.welcome-modal-content {
	display: flex;
	background-color: black;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 50px;
	border: 1px solid white;
	width: 80%; /* Could be more or less, depending on screen size */
	flex-direction: column;
	align-items: center;
}

.welcome-modal-content input {
	background-color: black;
	color: white;
	margin: 1em;
}

.welcome-modal-content h2 {
	padding-top: 1em;
}
  
.welcome-modal-container {
	display: flex;
}

.welcome-form {
	display: flex;
	flex-direction: column;
	padding: 1em;
	width: 50%;
	align-items: center;
}

.welcome-form #submit-button {
	width: 25%;
	padding: 0.7em;
	border: 1px solid white;
	transition: color 0.5s;
	transition: background-color 0.5s;
}

.welcome-form #submit-button:hover {
	background-color: white;
	color: black;
}

.welcome-form #password {
	width: 100%;
	padding: 0.7em;
	border: 1px solid white;
}

#bg-video {
	opacity: 0.2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	font-size: 0;
	background-color: #000000;
}

#bg-video video {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	min-height: 100vh;
	min-width: 100%;
	max-width: none;
	}
#bg-video video.hidden-xs {
	display: block;
}

.arrow-container {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999;
	position: absolute;
	bottom: 15px;
	width: 100px;
	height: 200px;
  }
  
  .chevron {
	position: absolute;
	width: 35px;
	height: 8px;
	opacity: 0;
	transform: scale(0.3);
	animation: move-chevron 3s ease-out infinite;
	color: white;
  }
  
  .chevron:first-child {
	animation: move-chevron 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
	animation: move-chevron 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
   content: '';
   position: absolute;
   top: 0;
   height: 100%;
   width: 50%;
   background: white;
  }
  
  .chevron:before {
   left: 0;
   transform: skewY(30deg);
  }
  
  .chevron:after {
   right: 0;
   width: 50%;
   transform: skewY(-30deg);
  }
  
  @keyframes move-chevron {
   25% {
	opacity: 1;
	  }
   33.3% {
	opacity: 1;
	transform: translateY(38px);
   }
   66.6% {
	opacity: 1;
	transform: translateY(52px);
   }
   100% {
	opacity: 0;
	transform: translateY(80px) scale(0.5);
   }
  }


/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	/* flex-direction: column; */
	align-items: flex-end;
	text-align: center;
	color: #fff;
	background-color: black;
	padding: 60px 0;
	justify-content: space-between;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
	margin-right: 5%;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

footer p {
	padding-left: 8em;
	padding-bottom: 1em;
	color: white;
}

footer a:hover {
	color: #4FC8ED
}

@media (max-width: 800px){

	footer{
		padding: 80px 15px;
		flex-direction: column-reverse;
		align-items: center;
	}
	footer p {
		padding-left: 0px;
	}
	footer ul {
		margin-right: 0px;
	}

}


/* -- Demo ads -- */

.dot-pattern-first {
	height: 500px;
	width: 500px;
	position: absolute;
	left: 5px;
	margin-top: 15%;
	z-index: -20; 
	

	background-image: radial-gradient(circle at 1px 1px, white 4px, transparent 0);
	background-size: 40px 40px;
}

.dot-pattern-second {
	height: 500px;
	width: 500px;
	position: absolute;
	right: 5px;
	margin-top: 50%;
	

	background-image: radial-gradient(circle at 1px 1px, white 4px, transparent 0);
	background-size: 40px 40px;
}

.dot-pattern-projects-first {
	height: 400px;
	width: 500px;
	position: absolute;
	right: 70%;
	margin-top: 30%;
	z-index: -20;
	

	background-image: radial-gradient(circle at 1px 1px, white 4px, transparent 0);
	background-size: 40px 40px;
}

.dot-pattern-projects-second {
	height: 650px;
	width: 500px;
	position: absolute;
	left: 70%;
	margin-top: 65%;
	z-index: -20;
	

	background-image: radial-gradient(circle at 1px 1px, white 4px, transparent 0);
	background-size: 40px 40px;
  }

.dot-pattern-single-project-first {
	height: 400px;
	width: 400px;
	position: absolute;
	right: 70%;
	margin-top: 20%;
	z-index: -20;
	

	background-image: radial-gradient(circle at 1px 1px, white 4px, transparent 0);
	background-size: 40px 40px;
}

.dot-pattern-single-project-second{
	height: 400px;
	width: 400px;
	position: absolute;
	left: 70%;
	margin-top: -10%;
	/* margin-top: 20%; */
	z-index: -20;
	

	background-image: radial-gradient(circle at 1px 1px, white 4px, transparent 0);
	background-size: 40px 40px;
}
  

@media (max-width: 800px){

	.dot-pattern-first, .dot-pattern-second, .dot-pattern-projects-first, .dot-pattern-projects-second, .dot-pattern-single-project-first, .dot-pattern-single-project-second {
		display: none;
	}

}